<DOCTYPE html>
  <head>
    <title>{% block Model Testing %} {% endblock %}</title>
  </head>
  <body>
    <h1>{{content}}</h1>
    {% block content %} {% endblock %}
  </body>
</DOCTYPE>

@ app.route("/viz") def viz(): return "
<h1>Data Visualization and Insights</h1>
" @ app.route("/model") def model(): return "
<h1>Model Training And Testing</h1>
" # @ app.route("/<name
  >") # defuser(name): # return f"
  <h2>Hello {name}! Please fill out the questionnaire below</h2>
  " @ app.route("/eval") def eval(): return "
  <h1>Accuracy Scores Comparison And Model Selection</h1>
  " @ app.route("/end") def end(): return "
  <h1>Summary Conclusion And Recommendation</h1>
  " @ app.route("/admin") def admin(): return(url_for("/")) if __name__ ==
  "__main__": app.run()
</name>
